<h1>Display your Pirate here</h1>
  <p>Name: <%= @pirate.name %></p>
  <p>Weight: <%= @pirate.weight %></p>
  <p>Height: <%= @pirate.height %></p>

<h2>Display your first ship here</h2>
  <%= @ships[0]["name"] %>
  <%= @ships[1]["type"] %>
  <%= @ships[2]["booty"] %>
  

<h2>Display your second ship here</h2>
